.dropdown-menu {
    position: absolute;
    z-index: 1;

    left: 50%;

    padding: 4px 24px 24px 24px;
    overflow: hidden;

    transform: translateX(-50%);

    min-width: 160px;
}

@keyframes DropDown-Animation {
    0% {
        transform: translateY(-20%);
    }

    30% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0);
    }
}

.dropdown-item {
    display: flex;
    flex-direction: row;

    align-items: center;

    padding: 0 12px;
    border-radius: 4px;
}

.dropdown-item>p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.dropdown-item:hover {
    cursor: pointer;

    background-color: var(--fill-color-subtle-secondary);
}

.dropdown-item:active {
    background-color: var(--fill-color-subtle-tertiary);
    color: var(--text-color-secondary) !important;
}

.dropdown-content {
    position: relative;
    z-index: 1;

    padding: 4px;

    transform: translateY(0);

    animation-duration: .15s;
    animation-timing-function: ease-out;
    animation-name: DropDown-Animation;

    border-style: solid;
    border-color: var(--stroke-color-flyout);

    background-clip: content-box;

    box-shadow: 0 8px 16px rgba(0,0,0,.26);
    border-width: 1px;

    background: rgba(252, 252, 252, .85);
    backdrop-filter: blur(15px);

    border-radius: 7px;
    background-blend-mode: normal, color, luminosity;
}

@media (prefers-color-scheme: dark) {
    .dropdown-content {
        background: linear-gradient(0deg, rgb(44, 44, 44), rgb(44, 44, 44)), rgb(44, 44, 44);
    }
}
