.dropdown {
    position: relative;
    user-select: none;
}

.dropdown-button {
    min-height: 32px;
}

.dropdown-button:active:not(:disabled)>span:last-child {
    margin-top: -2px;
}

@keyframes Icon-Animation {
    0% {
        margin-top: 0;
    }

    20% {
        margin-top: -2px;
    }

    70% {
        margin-top: 4px;
    }

    100% {
        margin-top: 0;
    }
}

.animate-icon>span:last-child {
    animation-duration: .3s;
    animation-name: Icon-Animation;
}


