.link {
    border-radius: 4px;
    padding: 4px 6px;

    text-align: center;
}

.link>a {
    padding: 4px 12px;

    color: var(--accent-text-color-primary);
    text-decoration: none;
}

.link:hover {
    background-color: var(--fill-color-subtle-secondary);
}

.link>a:hover {
    color: var(--accent-text-color-secondary);
}

.link:active {
    background-color: var(--fill-color-subtle-tertiary);
}

.link>a:active {
    color: var(--accent-text-color-tertiary);
}

.link-disabled {
    padding: 4px 12px;
    border-radius: 4px;
}

.link-disabled>a {
    color: var(--accent-text-color-disabled);
    text-decoration: none;

    pointer-events: none;
}
