.modal-background {
    display: flex;

    justify-content: center;
    align-items: center;

    position: fixed;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.3);

    z-index: 99999999;
    overflow: hidden;
}

.modal-block {
    background-color: var(--fill-color-layer);

    width: fit-content;
    height: fit-content;

    border-radius: 7px;

    box-shadow: 0 32px 64px rgba(0, 0, 0, 0.1876), 0 2px 21px rgba(0, 0, 0, 0.1474);
}

.modal-block>h4 {
    margin: 0;
    padding: 24px 24px 0 24px;
}

.modal-content {
    padding: 0 24px 24px 24px;
}

.modal-actions {
    background-color: var(--fill-color-solid-background-base);
    padding: 24px;

    border-radius: 0 0 7px 7px;

    display: grid;
}

.modal-actions>button:not(:last-child) {
    margin-right: 8px;
}

.hidden {
    opacity: 0;
    pointer-events: none;

    transition: opacity .1s ease-out;
}

.hidden>.modal-block {
    transform: scale(1.03);

    transition: transform .1s ease-out;
}

.visible {
    opacity: 1;
    pointer-events: auto;

    transition: opacity .1s ease-out;
}

.visible>.modal-block {
    transform: scale(1);

    transition: transform .1s ease-out;
}
